{% extends 'mains.html' %}

{% block body %}

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    /* Style the body */
    body {
      font-family: Arial;
      margin: 0;
    }
    
    /* Header/Logo Title */
    .header {
      padding: 60px;
      text-align: center;
      background: #1abc9c;
      color: white;
      font-size: 30px;
    }
    
    /* Page Content */
    .content {padding:20px;}
    </style>
    </head>
    <body>
    
    <div class="header">
      <h1>How this website Works??</h1>
      <p>My supercool website</p>
    </div>
    
    <div class="content">
      <h1>My Todos</h1>
      <h4><p>In this website you write your today works for awareness.<br>If any suggessition then go on contact us and send me a mail and if you like this website please rate us. <br>For more information follow my instagram id(astronomy_745)</p></h4>
    </div>

{% endblock %}